#imageRest {
    width: 100%;
    height: 100%;
    align-content: right;
}

#fontTest {
    font-family: 'GillSans, Calibri, Trebuchet, sans-serif';
    background-color: "F7F7F7";
    border: 1px solid;
    border-color: #D3D3D3;
}

#colorFont {
    color: #808080;
}