#imageRest {
    width: 100%;
    height: 100%;
    align-content: right;
}

p {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
    color: #808080;
}

h5 {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

#colorFont {
    color: #808080;
}