#login-h1 {
  color: #7588AE;
  font-size: 30px;
  margin-left: 10px;
  font-weight: 600;
}

.row {
  margin-bottom: -10px;
}

.button-text {
  text-align: center;
  overflow: auto;
  margin: auto;
  white-space: normal;
}

.login-form {
  margin: 10px;
  padding: 10px;
}

#register-link {
  text-decoration: none;
  color: #0094FF;
}

#login-button {
  background-color: #6498FE;
}

.base-font-family {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

input[type="text"] {
    font-size:24px;
}

input[type="password"] {
    font-size:24px;
}

form {
  margin: 30px;
}

.login {
  width: 80%;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  background: #F7F7F7;
}

.group        {
  position:relative;
  margin-bottom:45px;
}

input         {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  border:none;
  width: 100%;
  background-color: #F7F7F7;
  border-bottom:1px solid #757575;
}

input:focus     { outline:none; }

label          {
  color:#999;
  font-size:14px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  top:10px;
  transition:0.2s;

}

#moving_input {
  margin-top: 0px;
  -webkit-animation-name: register_animationv; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
}

.moving_input_login {
  -webkit-animation-name: register_animation; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 1s;
  animation-fill-mode:forwards;
}

.moving_input_register {
  -webkit-animation-name: register_animationv; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 1s;
  animation-fill-mode:forwards;
}

.moving_input_static {

}

/* active state */
input:focus ~ label, input:valid ~ label     {
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

#password_confirmation_hidden {
  display: none;
}

#password_confirmation_fadeout {
  opacity: 1;
  -webkit-animation: fadeout 1s;
  opacity: 0;
}

#password_confirmation_fadein {
  opacity: 0;
  -webkit-animation: fadein 0.5s;
  opacity: 1;
}

/* The animation code */
@-webkit-keyframes register_animation {
    from {margin-top: 0px;}
    to {margin-top: 116px;}
}

/* The animation code */
@-webkit-keyframes register_animationv {
    from {margin-top: 116px;}
    to {margin-top: 0px;}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

.bar  { position:relative; display:block; }

.bar:before, .bar:after   {
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#5264AE;
  transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}